[Unit]
Description=Brightness Monitor Client
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python /usr/local/lib/python2.7/dist-packages/brightnessmonitorclient
User=brightnessmonitor
Restart=on-abort
 
[Install]
WantedBy=multi-user.target